.email-app {
  display: grid;
  grid-template-columns: 220px 350px 1fr;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* SIDEBAR */
.sidebar {
  border-right: 1px solid #ddd;
  padding: 15px;
}


.user-info {
  margin-bottom: 20px;
}

.user-name {
  font-weight: bold;
  display: block;
}

.user-email {
  font-size: 12px;
  color: gray;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar li.active {
  background: #6c3ef4;
  color: white;
}

/* LIST */
.list {
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.list-header {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.list-header input {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
}

/* EMAIL CARD */
.email-card {
  padding: 12px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.email-card.active {
  background: #f3f3f3;
}

.subject {
  font-weight: bold;
}

.preview {
  font-size: 12px;
  color: gray;
}

.tags span {
  background: #eee;
  padding: 3px 8px;
  margin-right: 5px;
  border-radius: 10px;
  font-size: 11px;
}

/* MAILBOX */
.mailbox {
  padding: 20px;
  overflow-y: auto;
}

/* HEADER */
.mailbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  background: #e6f0ff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}

/* DETAIL */
.detail-subject {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.detail-meta {
  font-size: 13px;
  color: gray;
  margin: 10px 0;
}

.detail-body {
  margin-top: 15px;
  line-height: 1.5;
}

/* REPLY */
.reply-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.reply-box textarea {
  padding: 10px;
  border-radius: 6px;
  height: 80px;
}

.reply-box button {
  margin-top: 10px;
  align-self: flex-end;
  padding: 10px 15px;
  border: none;
  background: #6c3ef4;
  color: white;
  border-radius: 6px;
}