<div class="page">

  <div class="header">
    <h1>Space</h1>
    <p>Everything you need to know about your Space</p>
  </div>
  <div class="toolbar">

    <h4> Create Space </h4>
    <button class="add-btn" (click)="openModal()">+</button>
  </div>

  <div class="modal-overlay" *ngIf="showModal" (click)="closeModal()">
    <div class="modal" (click)="$event.stopPropagation()">
      <h2>Create space</h2>

      <label>Space name</label>
      <input
        type="text"
        [(ngModel)]="spaceName"
        placeholder="Enter space name"
      />

      <label>Space key</label>
      <input
        type="text"
        [(ngModel)]="spaceKey"
        placeholder="ABC"
      />

      <label>Type</label>
      <select [(ngModel)]="type">
        <option *ngFor="let t of types" [value]="t.value">
          {{ t.label }}
        </option>
      </select>

      <div class="actions">
        <button class="cancel" (click)="closeModal()">Cancel</button>
        <button class="create" (click)="createSpace()">Create</button>
      </div>
    </div>
  </div>
</div>